<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body.light-mode {
            background-color: #ffffff;
            color: #000000;
        }

        body.dark-mode {
            background-color: #2c2c2c;
            color: #ddd;
        }

        .dark-mode .table {
            background-color: #3d3d3d;
            color: #ddd;
        }

        body.light-mode .navbar {
            border: 1px solid #ddd;
            background-color: lightgray;
        }

        body.dark-mode .navbar {
            border: 1px solid #555;
            background-color: darkslategray;
        }
        body.dark-mode .table thead th {
            color: #fff;
            background-color: #3d3d3d;
        }
        .dark-mode .table-striped tbody tr:nth-of-type(odd) {
            background-color: transparent;
        }

        body.light-mode .navbar a.nav-link{
            font-size: 24px;
            color: #555;
            background-color: transparent;
        }

        body.dark-mode .navbar a.nav-link {
            font-size: 24px;
            color: #ddd;
            background-color: transparent;
        }
        body.light-mode .navbar .navbar-brand {
            font-size: 24px;
            color: #333;
        }

        body.dark-mode .navbar .navbar-brand {
            font-size: 24px;
            color: #fff;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">DVMHost</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/affs">Affiliations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/remote">Remote Commands</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <button id="toggleDarkMode" class="btn btn-secondary">Toggle Light Mode</button>

    <table class="table table-striped"  id="logsTable">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Source ID</th>
            <th>Destination ID</th>
            <th>Event Type</th>
            <th>BER</th>
            <th>Duration</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const tableBody = document.querySelector('#logsTable tbody');

    socket.on('newLog', (parsedLogs) => {
        console.log(parsedLogs);

        if (!parsedLogs) {
            console.warn('Received null or unsupported log data');
            return;
        }
        const row = tableBody.insertRow(0);

        const timestampCell = row.insertCell(0);
        const srcIdCell = row.insertCell(1);
        const dstIdCell = row.insertCell(2);
        const eventTypeCell = row.insertCell(3);
        const BER = row.insertCell(4);
        const duration = row.insertCell(5);

        timestampCell.textContent = parsedLogs.timestamp;
        srcIdCell.textContent = parsedLogs.srcId;
        dstIdCell.textContent = parsedLogs.dstId;
        eventTypeCell.textContent = parsedLogs.eventType;
        duration.textContent = parsedLogs.duration;
        BER.textContent = parsedLogs.BER;
    });
    document.getElementById('toggleDarkMode').addEventListener('click', function() {
        if (document.body.classList.contains('dark-mode')) {
            document.body.classList.remove('dark-mode');
            document.body.classList.add('light-mode');
            this.textContent = "Toggle Dark Mode";
        } else {
            document.body.classList.remove('light-mode');
            document.body.classList.add('dark-mode');
            this.textContent = "Toggle Light Mode";
        }
    });

    document.body.classList.add('dark-mode');
</script>

</body>
</html>
